body {
    background-color:#D9D9D9;
    width: 80vw;
    margin: auto;
}
header {
    margin:auto;
}

header img {
    max-height: 10vh;
}

span {
    display: none;
}

footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
}


/* Erik har gjort detta */
.cartHeader
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartHeader img
{
    /* height: 50%;
    width: 50%; */
}

.cart
{
    /*display: flex;*/
    flex-direction: column;
    justify-content: flex-start;
}

table
{
    /*display: flex;
    flex-direction: column;*/
    width: 64vw;
    /*height: 50vh;*/
}

th, td 
{
    border:1px solid black;  
}
/* tr
{
    display: flex;
    flex-direction: row;

} */
th
{
    height: 3vh;
}

td
{
    height: 5vh;
}

.cartProduct
{
    flex: 1;
    justify-self: space-around;
    align-self: center;
}


.quantity
{
    flex: 1;
    justify-self: space-around;
    align-self: center;
}

.price
{
    flex: 1;
    justify-self: space-around;
    align-self: center;
}

.delite
{
    flex: 1;
    justify-self: space-around;
    align-self: center;
}

.total
{
color: black;
}

.buttons
{
    display: flex;
    flex-direction: row;
    gap: 1em;
    
}
button.checkOut 
{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    justify-self: flex-start;
    text-decoration: none;
    width: 7vw;
    height: 3vw;
}

button.shop
{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    justify-self: flex-start;
    width: 7vw;
    height: 3vw;
}

a
{
    text-decoration: none;
    text-decoration-color: black;
}
a:visited
{
    color: black;
}

label
{
    background-color: rgb(0, 0, 0);
}

.adress
{
    margin: 2em;
}

.customer
{
    gap: 2;
}

form
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
input
{
    padding: 0%;
}