body {
    background-color:#D9D9D9;
    width: 70vw;
    margin: auto;
}

header img {
    width:100%;
}

main {
    min-height: 70vh;
}

footer {
    text-align: center;
}

footer div {
    margin:0 8vw 0 0;
}

