body {
    background-color:#D9D9D9;
    width: 80vw;
    margin: auto;
}
header {
    margin:auto;
}

header img {
    max-height: 10vh;
}

span {
    display: none;
}

footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
}


